####################################
# Python / FastAPI
####################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# virtual environments
.venv/
venv/
env/

# Python tooling
.pytest_cache/
.mypy_cache/

####################################
# App secrets / local state
####################################
app/.env
app/app.db
app/uploads/

####################################
# Node / React / Vite
####################################
node_modules/
dist/
build/
.vite/

####################################
# local env files
####################################
web/.env
web/.env.local
web/.env.development
web/.env.production

####################################
# Terraform
####################################
.terraform/
terraform.tfstate
terraform.tfstate.backup

####################################
# Logs
####################################
*.log

####################################
# OS / Editor junk
####################################
.DS_Store
.idea/
.vscode/
*.swp
